$text-color: #9fa4a9;
$item-text-color: #242424;
$button-color: #ffc900;

@font-face {
	font-family: 'Arvo';
	src: url('../font/arvo.eot'); /* IE9 Compat Modes */
	src: url('../font/arvo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/arvo.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/arvo.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../font/arvo.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/arvo.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
	font-family: 'Arvo-Bold';
	src: url('../font/arvobold.ttf.eot'); /* IE9 Compat Modes */
	src: url('../font/arvobold.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/arvobold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/arvobold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../font/arvobold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/arvobold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import "normalize";
@import "layout";
@import "elements";
@import "slick.scss";


@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font:400 14px/1.57 'Open Sans', sans-serif;
    color: $text-color;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
h3{
	font: 400 36px/1.3 'Arvo', serif;
	color: #292929;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1160px;
}

.ba-container-inner{
	max-width: 830px;
	margin: 0 auto;
}

.ba-header-bar{
	margin-top: 30px;
	margin-left: 80px;
	padding-right: 18px;
	display: flex;
	justify-content: space-between;
}
.ba-menu {
	display: flex;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
	a {
		font: 700 12px/1 'Roboto', sans-serif;
		text-transform: uppercase;
		color: #9fa3a7;
		text-decoration: none;
		padding-left: 60px;
		letter-spacing: 0.22em;
	}
}

.ba-offer-info{
	padding: 28% 14% 0;
	.ba-offer-title{
		letter-spacing: 0.01em;
		margin-bottom: 20px;
	}
	.ba-offer-text{
		margin-bottom: 35px;
		margin-left: 5px;
		line-height: 22px;
		max-width: 347px;
	}
	
}
.ba-offer-pic {
	// max-width: 118%;
	padding-top: 28%;
}

.ba-scroll{
	display: flex;
	margin: 78px auto 0;
}
.ba-scroll:hover{
	opacity: 0.5;
}
.ba-advantages {
	padding: 187px 0 170px;
	&__info{
		max-width: 401px;
		margin-left: auto;
		padding: 3px 0 0 15px;
		p{
			
			padding-top: 16px;
			padding-left: 1px;
			letter-spacing: 0.01em;
			line-height: 1.9;
		}
	}
	
}
.ba-advantages__about{
	display: flex;
	padding: 0 130px 0 57px;
	position: relative;
	&--1::after{
		content: '';
		position: absolute;
		top: 174px;
		left: 66px;
		background-color: #d1d1d1;
		width: 319px;
		height: 1px;
		display: block;
	}

	.ba-advantages__wrap-img{
		content: '';
		position: absolute;
		background-color: #ffc900;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		left: 43px;
		top: -5px;
		img{
			margin-left: 16px;
			margin-top: -5px;
		}
		.ba-advantages__img--2{
			margin-left: 22px;
		}
	}
	.ba-advantages__descript{
		padding: 2px 0 0 87px;
		&--2{
			margin-top: 10px;
		}
		h4{
			font: 400 21px/1.2 'Arvo', serif;
			letter-spacing: 0.025em;
			color: #353535;
			padding-bottom: 12px;
		}
		p{
			max-width: 228px;
			line-height: 1.8;
		}
	}
}
.ba-advantages__about:first-child{
	margin-bottom: 86px;
}

.ba-spec{
	padding: 115px 0 255px;
	background: #fff url(../img/img2.jpg) no-repeat right center;
	.ba-spec-info{
		max-width: 416px;
		margin-left: 145px;
		padding: 1px 0 0 15px;
	}
	.ba-spec-info__list{
		list-style: none;
		margin: 29px 0 0 0;
		padding: 0;
		li{
			margin-bottom: 7px;
		}
	}
}

// Reviews
.ba-reviews {
	&__blockq {
		margin-bottom: 37px;
	}
	&__content {
		font: 400 36px/1.27 'Arvo', serif;
		letter-spacing: 0.018;
		text-align: left;
		color: #2c2c2c;
		width: 790px;
		margin: 0 auto 84px;
	}
	&__customers {
		ul {
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

// Purchase
.ba-purchase {
	margin-top: 238px;

	&__product {
		font-size: 32px;
		width: 350px;
		margin-left: 38px;
		margin-bottom: 4px;
		letter-spacing: 0.015em;
	}
	&__price {
		font: 700 36px/1.27 'Roboto', serif;
		color: #2c2c2c;
		font-size: 80px;
		margin-left: 40px;
		margin-bottom: 10px;
		letter-spacing: 0.005em;
	}
	&__pic{
		max-width: 105%;
		margin-left: -15px;
	}
}

fieldset{
	border: none;
	margin-bottom: 20px;
	label{
		width: 113px;
		height: 10px;
		color: #9fa3a7;
		font-family: "Roboto", sans-serif;
		font-size: 12px;
		font-weight: 700;
		line-height: 26.81px;
		text-transform: uppercase;
		/* Text style for "Имя и фами" */
		letter-spacing: 1.39px;
	}
		
	input{
		width: 300px;
		border: none;
		display: block;
		float: right;
		border-bottom: 1px solid #cccccc;	
	}
	
	input:focus {
		outline: none;
		background: white;
	}
}
fieldset:first-child{
	margin-top: 40px;
}

// Footer

.ba-footer{
	margin-top: 180px;
	// img {
		
	// }
	ul{
		list-style: none;
		margin: 0;
		display: flex;
		a{
			text-decoration: none;
  			text-transform: uppercase;
  			justify-content: space-between;
			font-weight: 900;
			font-size: 12px;
			color: #9fa3a7;
			margin: 0 36px;
		}
	}
	.ba-social-media {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
	}
	.ba-footer-copyright {
		font-size: 12px;
		font-weight: 900;
		letter-spacing: 0.024em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}