$text-color: #9fa4a9;
$item-text-color: #242424;
$button-color: #ffc900;

@font-face {
	font-family: 'Arvo';
	src: url('../font/arvo.eot'); /* IE9 Compat Modes */
	src: url('../font/arvo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/arvo.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/arvo.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../font/arvo.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/arvo.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
@font-face {
	font-family: 'Arvo-Bold';
	src: url('../font/arvobold.ttf.eot'); /* IE9 Compat Modes */
	src: url('../font/arvobold.ttf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../font/arvobold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../font/arvobold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../font/arvobold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../font/arvobold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@import "normalize";
@import "layout";
@import "elements";


@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
	font:400 14px/1.57 'Open Sans', sans-serif;
    color: $text-color;
}
h3{
	font: 400 36px/1.3 'Arvo', serif;
	color: #292929;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1160px;
}

.ba-container-inner{
	max-width: 830px;
	margin: 0 auto;
}

.ba-header-bar{
	margin-top: 30px;
	margin-left: 80px;
	padding-right: 18px;
	display: flex;
	justify-content: space-between;
}
.ba-menu {
	display: flex;
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
	a {
		font: 700 12px/1 'Roboto', sans-serif;
		text-transform: uppercase;
		color: #9fa3a7;
		text-decoration: none;
		padding-left: 60px;
		letter-spacing: 0.22em;
	}
}

.ba-offer-info{
	padding: 21.6% 14%;
	.ba-offer-title{
		letter-spacing: 0.011em;
		margin-bottom: 20px;
	}
	.ba-offer-text{
		margin-bottom: 35px;
		line-height: 22px;
		max-width: 347px;
	}
	
}
.ba-offer-pic {
	max-width: 118%;
	margin-left: -85px;
	padding-top: 28%;
}

.ba-scroll{
	display: flex;
	margin: 0px auto;
}
.ba-scroll:hover{
	opacity: 0.5;
}

.ba-advantages__about{
	display: flex;
	img{
		position: relative;
		width: 50px;
		height: 49px;
	}
	img:before{
		border: 2px solid red;
		position: absolute;
		content: '';
		width: 60px;
		height: 60px;
		color: #ffc80a;
	}
}